/* in your global CSS file (e.g., index.css or App.css) */
html,
body {
  margin: 0 auto;
  padding: 0;
  /* position: relative; */
}

#root {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
