:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #dee2ff;
  background-image: linear-gradient(to right, #e8ebff 1px, transparent 1px),
    linear-gradient(to bottom, #e8ebff 1px, transparent 1px);
  background-size: 25px 25px; /* size of the grid squares */
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

a:hover {
  color: #344e41;
}

body {
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FEEAFA;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  background-color: #8e9aaf;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
