.grid-table {
  /* width: 75vw; */
  border-collapse:collapse;
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 10px;
  /* padding: 1rem; */
}

.grid-table th,
.grid-table td {
  border: 1px solid #e2e2e2;
  /* border-right: 1px solid #e2e2e2; */
  border-radius: 10px;
  padding: 8px;
  text-align: left;
}

/* Optional: fixed width for columns */
.grid-table th:nth-child(1),
.grid-table td:nth-child(1) { width: 200px; } /* Date */
.grid-table th:nth-child(2),
.grid-table td:nth-child(2) { width: 200px; } /* Description */
.grid-table th:nth-child(3),
.grid-table td:nth-child(3) { width: 100px; } /* Amount */
.grid-table th:nth-child(4),
.grid-table td:nth-child(4) { width: 150px; } /* Payer */
.grid-table th:nth-child(5),
.grid-table td:nth-child(5) { width: 250px; } /* Split */

.split-column {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(20px, auto));
  gap: 2px;
}
